<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <% @messages.each do |message| %>
            <% unless message.body.nil? %>
            <div class="project-card">
                <% if message.body %>
                <% user = User.find(message.user_id) %>
                <h3><strong><%= user.first_name %> <%= user.last_name %></strong></h3>
                <p><% user.email %></p>
                <h4><%= message.message_time %></h4>
                <%= message.body %>
                <% end %>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="project-card">
                <h3>New Message to <%= @conversation.recipient.full_name %></h3>
                <p><%= @conversation.recipient.email %></p>
                <%= simple_form_for [@conversation, @message] do |f| %>
                <%= f.input :body, label_html: {class: 'pull-left'} %>
                <%= f.input :user_id, value: current_user.id, as: :hidden %>
                <%= f.submit "send message", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
