<h1>Tasks#index</h1>


<div class="container">
  <% @tasks.each do |task| %>
      <div class="row">
        <div class="col-xs-2">
          <p><b>task_id:</b> <%= task.id  %></p>
        </div>
        <div class="col-xs-2">
          <p><b>Owner:</b> <%= task.user.email  %></p>
        </div>
        <div class="col-xs-3">
          <p><b>task:</b> <%= task.title  %></p>
        </div>
        <div class="col-xs-2">
          <p><b>project:</b> <%= task.project.title %></p>
        </div>
        <div class="col-xs-3">
          <%= link_to "Edit", edit_project_task_path( task.project, task) %> | <%= link_to "Reviw", project_tasks_path %> | <%= link_to "Close", project_tasks_path %> | <%= link_to "Destroy", task_path(task), method: :delete, data: { confirm: 'Are you sure?' }  %>
        </div>
      </div>
<% end  %>
</div>



<% if policy(Task).create? %>
  <%= link_to "new Task", new_project_task_path %>
<% end %>
