<div class="container">
    <div class="main-container">
        <div class="project-container">
            <div class="project-main">
                <div class="project-content">
                    <h3><strong><%=  @project.title %></strong></h3>
                    <h4><%=  @project.description %></h4>
                    <br>
                    <h4><i class="fas fa-calendar-alt"></i><strong>   Start date</strong> <%=  @project.start_date %></h4>
                    <h4><i class="fas fa-stopwatch"></i><strong>   Deadline</strong> <%=  @project.deadline %></h4>
                    <h4><i class="fas fa-industry"></i><strong>   Industry</strong> <%=  @project.industry %></h4>
                    <h4><i class="fas fa-clock"></i><strong>   Duration</strong> <%=  @project.nb_hours %> hours</h4>
                    <br>
                    <h4><strong>Client</strong> <%=  @project.client.full_name %></h4>
                    <h4><strong>Expert</strong> <%= @project.expert.nil? ? "Not assigned yet" : @project.expert.full_name %>
                    <% if @project.expert %>
                    <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @project.expert.id), method: "post" do %>
                      <i class="fas fa-envelope"></i>
                    <% end %>
                    <% end %>
                  </h4>
                <br>
            <h4><strong><% if @project.approved %>
              <i class="fas fa-check-circle"></i>
            <% else %>
              <i class="fas fa-times-circle"></i>
            <% end %> Approved </strong></h4>
            <h4><strong><% if @project.status %>
              <i class="fas fa-check-circle"></i>
            <% else %>
              <i class="fas fa-times-circle"></i>
            <% end %> Completed </strong></h4>
            <br>
            <div class="project-task-card-actions">
                <% if policy(Project.find(params[:project_id])).show? %>
                    <%= link_to "New deliverable", new_project_task_path, class: "btn btn-success" %>
                <% end %>
                <%= link_to "Projects", projects_path %>
              </div>

          </div>
        </div>
    </div>

    <div class="tasks-container">
      <% @tasks.each do |task| %>
        <div class="task-card">
          <div class="row">
            <div class="task-card-content">
              <div class="col-xs-12 col-sm-3">
                <h3 class="task-card-title"><strong><%= task.title %></strong></h3>
                <br>
                <h4 class="task-card-title"><i class="fas fa-calendar-alt"></i>   Start date <%= task.start_date %></h4>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="task-card-body"><p><%= task.description %></p></div>
                <div class="task-card-actions"><p>
                  <% if policy(task).edit? %>
                    <%= link_to "Edit", edit_project_task_path( task.project, task) %>
                  <% end %>
                  <%= link_to "Review", project_tasks_path %>
                  <%  if policy(task).close? && task.status == false %>
                    <%= link_to "Close", edit_task_to_close_path( task.project, task) %>
                  <% end %>
                  <% if policy(task).destroy? %>
                     <%= link_to "Destroy", project_task_path(task.project.id, task), method: :delete, data: { confirm: 'Are you sure?' }  %>
                  <% end %>
                </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <!-- <div>
                  <p>
                    <%#= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
                    Expert:  <%#= task.project.expert.nil? ? "Not yet assigned" : task.project.expert.email %>
                  </p>
                </div> -->
                <div class="message-status">
                  <% if task.status == true %>
                  <div class="left-margin">
                    <h4 class="status accepted"><strong>Closed</strong></h4>
                  </div>
                    <br>
                    <h4><i class="fas fa-clock"></i>  Hours</h4>
                    <p>   <%= task.work_hours %></p>
                  <% else %>
                  <div class="left-margin">
                    <h4 class="status pending"><strong>Pending</strong></h4>
                  </div>
                    <br>
                    <h4><i class="fas fa-stopwatch"></i>  Deadline</h4>
                  <div class="left-margin">
                    <p><%= task.deadline %></p>
                  </div>
                  <% end %>


                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>


          <% if @tasks.empty? %>
              <div class="task-card">
                    <div class="task-card-content">
                        <div class="col-xs-12 col-sm-3"></div>
                        <div class="col-xs-12 col-sm-6">
                            <p>
                                <div class="task-card-body"><h1>NO Task is created</h1></div>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div></div>
                            <div class="message-status"></div>

                        </div>
                    </div>
                </div>
            <% end %>
    </div>
  </div>
</div>
