<div class="container">

    <div class="row">

            <% @tasks.each do |task| %>
            <div class="task-card">
                <div class="task-card-content">
                    <div class="col-xs-12 col-sm-3">
                        <h3 class="task-card-title"><%= task.title %></h3>


                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>
                            <div class="task-card-body"><p><%= task.description %></p></div>
                            <div class="task-card-actions">
                            <% if policy(task).edit? %>
                              <%= link_to "Edit", edit_project_task_path( task.project, task) %>
                            <% end %>
                            <%= link_to "Review", project_tasks_path %>
                            <%= link_to "Close", project_tasks_path %>
                            <% if policy(task).destroy? %>
                               <%= link_to "Destroy", project_task_path(task.project.id, task), method: :delete, data: { confirm: 'Are you sure?' }  %>
                            <% end %>
                        </div>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div>
                          <p>
                            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
                            Expert:  <%= task.project.expert.nil? ? "Not yet assigned" : task.project.expert.email %>
                          </p>
                        </div>
                        <div class="message-status">
                          <% if task == @tasks.first %>
                          <p class="status accepted">Accepted</p>
                          <% else %>
                          <p class="status pending">Pending</p>
                          <% end %>

                        </div>

                    </div>
                </div>
            </div>
            <% end %>



          <div class="task-card">
                <div class="task-card-content">
                    <div class="col-xs-12 col-sm-3">
                        <h3 class="task-card-title">XXXXXXX</h3>


                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>
                            <div class="task-card-body"><h1>NO Task is created</h1></div>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div>
                          <p>
                            XXXXXXXXX
                          </p>
                        </div>
                        <div class="message-status">
                          <p>XXXXXXX</p>
                        </div>

                    </div>
                </div>
            </div>




            <div>
              <div class="project-task-card-actions">
                <% if policy(Task).create? %>

                        <%= link_to "new Task", new_project_task_path, class: "btn btn-success" %>
                        <%= link_to "Projects", projects_path %>

                <% end %>
              </div>
            </div>

        </div>









</div>





