<!-- <div class="container profile-card"> -->
  <!-- <%# @users.each do |user| %>
    <%# if user.role == "expert" %>
      <%# if user.photo.url.nil? %>
        <%#= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd-e9Kn0P1AAKT-EdAiaAVUvBtRVAJqONXIL0pJ402cOAzVi0i", class: "avatar dropdown-toggle", class: "medium-avatar" %>
      <%# else %>
        <%#= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill, class: "medium-avatar" %>
      <%# end %>
      <!- <div> -->
        <!-- <h3><strong><%#= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></strong></h3> -->
        <!-- <p><%#= user.email %></p> -->
      <!-- </div> -->
    <%# end %>
  <%# end %> <!-- </div> -->



<div class="filter-container">
  <div class="container">
    <%= form_tag users_path , method: :get do %>
        Country:
        <select name="country">
          <option value=""></option>
          <% @all_users.each do |user| %>
            <option value="<%= user.country %>"><%= user.country %></option>
          <% end %>
        </select>
        Industry:
        <select name="industry">
          <option value=""></option>
          <% @all_users.each do |user| %>
            <option value="<%= user.industry %>"><%= user.industry %></option>
          <% end %>
        </select>
        Availability:
        <select name="availability">
          <option value=""></option>
          <option value="<%= true %>">Yes</option>
          <option value="<%= false %>">No</option>
        </select>
      <input type="submit" class="btn btn-primary">
    <% end %>
  </div>
</div>
<div class="container">
  <ul>
    <% @users.each do |user| %>
    <li><%= user.email %></li>
    <% end %>
  </ul>
</div>


