<%= simple_form_for [@project] do |f| %>
  <%= f.input :title , label_html: {class: 'pull-left'}%>
  <%= f.input :description, label_html: {class: 'pull-left'} %>
  <%= f.input :industry, collection: User::INDUSTRIES, label_html: {class: 'pull-left'} %>
  <%= f.input :country, collection: User::COUNTRIES, label_html: {class: 'pull-left'} %>
  <%= f.input :expertise_level, collection: ["Research Analyst: 0-2 years experience", "Research Specialist: 2-5 years experience", "Research Specialist: more than 5 years experience"], label_html: {class: 'pull-left'} %>
  <%= f.input :start_date, label_html: {class: 'pull-left'}, as: :date, html5: true %>
  <%= f.input :deadline, label_html: {class: 'pull-left'}, as: :date, html5: true %>
  <%= f.input :nb_hours, label: 'Total number of hours',label_html: {class: 'pull-left'} %>
  <%= f.input :nb_tasks, label: 'Number of deliverables', label_html: {class: 'pull-left'} %>
  <% if @project.id == nil %>
    <%= f.submit "add project", class: "btn btn-primary" %>
    <% else %>

      <% if policy(@project).edit? %>
      <div class="form-group integer optional project_nb_tasks form-group-valid">
        <%=  label "project",:manager_id , "Manager", class: "form-control-label integer optional pull-left" %>
        <%= f.select :manager_id, options_from_collection_for_select(User.where(role: "manager"), 'id', :userinfo), :prompt => 'Select a manager' %>
      </div>

       <%= f.input :expert, collection: User.where(role: "expert"), label_method: :userinfo, value_method: :id, label_html: {class: 'pull-left'} %>
        <%#= f.check_box :approved, checked: @project.approved? %>
        <%#= f.input :approved, :collection => ['Today', 'Tomorrow', 'In 3 Days'], :as => :radio %>
        <%= f.input :approved,
                    :collection => [[true, 'Approved'], [false, 'Not approved']],
                    :label_method => :last,
                    :value_method => :first,
                    :as => :radio_buttons
        %>
      <% end %>
    <%= f.submit "Save changes", class: "btn btn-primary" %>

  <% end %>
<% end %>
