<div class="project-card">
    <div class="row">
        <div class='col-xs-12 col-sm-8'>
            <h3 class="project-card-title"><strong><%= project.title %></strong></h3>
            <p class="project-card-content font-size-big">
                <%= project.description %>
            </p><br>
        </div>
        <div class="col-xs-12 col-sm-4 flex-right">
            <p class="project-card-content font-size-big">
                <% project.tasks.each do |task| %>
                  <% if task.status == false %>
                    <% if policy(task).edit? %>
                        <%= link_to  edit_project_task_path(project, task) do %>
                          <i class="fas fa-square fa-green"></i>
                        <% end %>
                      <% else %>
                        <i class="fas fa-square fa-green"></i>
                    <% end %>
                  <% else %>
                    <% if policy(task).edit? %>
                      <%= link_to  edit_project_task_path(project, task) do %>
                        <i class="fas fa-square fa-gray"></i>
                      <% end %>
                    <% else %>
                      <i class="fas fa-square fa-gray"></i>
                    <% end %>
                  <% end %>
                <% end %>
            </p>
        </div>
    </div>

    <div class="row">
        <div class='col-xs-12 col-sm-8'>
            <p class="project-card-content font-size-big">
                Manager:
                <%= project.manager.nil? ? "Not assigned yet" : project.manager.userinfo %>
            </p>
            <p class="project-card-content font-size-big">
                Industry:
                <%= project.industry %>
            </p>
            <p class="project-card-content font-size-big">
                Country:
                <%= project.country %>
            </p>
            <p class="project-card-content font-size-big">
                Expert:
                <%= project.expert.nil? ? "Not assigned yet" : project.expert.userinfo %>
                    <% if project.expert %>
                    <%= link_to conversations_path(sender_id: current_user.id, recipient_id: project.expert.id), method: "post" do %>
                      <i class="fas fa-envelope"></i>
                    <% end %>
                    <% end %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 flex-right">
            <div class="project-card-actions">
                <%= link_to "Tasks", project_tasks_path(project) %>
                <% if policy(project).edit? %>
                <%= link_to "Edit", edit_project_path(project.id) %>
                <% end %>
                <% if policy(project).destroy? %>
                <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: 'Are you sure?'} %>
                <% end %>
            </div>
        </div>
    </div>
</div>
