<div class="container">
  <h1>List of projects:</h1><br>
  <% @projects.each do |project| %>
      <div class="row">
        <div class="col-xs-3">
          <p><b><%= project.title %></b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p>project_title: <%= project.title  %></p>
        </div>
        <div class="col-xs-3">
          <p>client: <%= project.client.email %></p>
        </div>
        <div class="col-xs-3">
          <%= link_to "Project tasks", project_tasks_path(project) %>
        </div>
        <div class="col-xs-3">
          <% if policy(project).edit? %>
            <%= link_to "Edit project", edit_project_path(project.id) %>
          <% end %>
        </div>
        <div class="col-xs-3">
          <% if policy(project).destroy? %>
            <%= link_to "Delete project", project_path(project), method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </div>
      </div>
<% end  %>
</div>

<% if policy(Project).new? %>
  <%= link_to "New project", new_project_path %>
<% end %>





<!-- <div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="project-card">
        <div class="project-card-content">
          <div class="col-xs-12 col-sm-4 col-md-2">
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <h3 class="project-card-title"><%= project.title %></h3>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <p>Client: <%= project.client.email %></p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="project-card-actions">
                <%= link_to "Tasks", project_tasks_path(project) %>
                  <% if policy(project).edit? %>
                    <%= link_to "Edit", edit_project_path(project.id) %>
                  <% end %>
                  <% if policy(project).destroy? %>
                    <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: 'Are you sure?'} %>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> -->
